{% extends './../frame.html' %}
{% block content %}

<div class="template hidden msg">
    <div class="text-center">
        您即將匯款至{{data['username']}}<br>
        <span style="font-size: 50px;">{{data['price']}} NTD</span><br>
        以上資訊是否正確？
    </div>
</div>
<script>
require(["jquery", "bootbox"], function($, bootbox){
    bootbox.dialog({
        message: $(".template.hidden.msg").html(),
        title: "交易確認",
        buttons: {
            success: {
                label: "是",
                className: "btn-success btn-block",
                callback: function() {
                    var pos = {};
                    if(navigator.geolocation){
                        navigator.geolocation.getCurrentPosition(function(){
                            pos.latitude = position.coords.latitude;
                            pos.longitude = position.coords.longitude;
                        });
                        }else{
                            pos.latitude = -1;
                            pos.longitude = -1;
                        }
                    $.post("/api/pay/{{qrcode}}/", pos, function(msg){

                    }, "json");
                }
            },
            danger: {
                label: "否",
                className: "btn-danger btn-block",
                callback: function() {
                    bootbox.alert("放棄交易", function(){
                        window.location = "/"
                    });
                }
            }
        }
    });
});
</script>

{% end %}
