{% extends './../frame.html' %}
{% block content %}

<script>
require(["jquery", "bootbox"], function($, bootbox){
    bootbox.dialog({
        message: "是否要繼續交易",
        title: "交易確認",
        buttons: {
            success: {
                label: "是",
                className: "btn-success btn-block",
                callback: function() {
                    $.post("/pay/{{qrcode}}/", function(msg){
                        window.location = "/"
                    }, "json");
                }
            },
            danger: {
                label: "否",
                className: "btn-danger btn-block",
                callback: function() {
                    bootbox.alert("放棄交易", function(){
                        window.location = "/"
                    });
                }
            }
        }
    });
});
</script>

{% end %}
