{% extends './../frame.html' %}
{% block content %}

<div class="container">
    {% set flag=0 %}
    {% for item in data["finance_news"] %}
    {% if flag==0 %}
    <div class="panel panel-info">
    {% elif flag==1 %}
    <div class="panel panel-success">
    {% else %}
    <div class="panel panel-warning">
    {% end %}
        <div class="panel-heading">
            {{ item["type"] }}
        </div>
        <div class="panel-body">
            {{ item["title"] }}
        </div>
        <div class="panel-footer" style="text-align: right"> 
            {{ item["pub_date"] }} &nbsp;&nbsp;
            <a class="btn btn-success" href="{{ item["link"] }}"> 前往</a>
        </div>
    </div>
    {% set flag=(flag+1)%3 %}
    {% end %}
</div>

{% end %}
