{% extends './../frame.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>最新消息</h1>
                            <h5>所有最新的銀行資訊</h5>
                        </div>
                    </div>
                </div>
                <a href="/banks/info/news/">
                    <div class="panel-footer">
                        <span class="pull-left">前往 最新消息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bullhorn fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>近期活動</h1>
                            <h5>所有最新的活動資訊</h5>
                        </div>
                    </div>
                </div>
                <a href="/banks/info/events/">
                    <div class="panel-footer">
                        <span class="pull-left">前往 近期活動</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rss-square fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>金融即時新聞</h1>
                            <h5>所有最新的金融新聞</h5>
                        </div>
                    </div>
                </div>
                <a href="/banks/info/finance_news/">
                    <div class="panel-footer">
                        <span class="pull-left">前往 金融即時新聞</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>外匯市場資訊</h1>
                            <h5>所有最新的外匯市場資訊</h5>
                        </div>
                    </div>
                </div>
                <a href="/banks/info/foreign_market/">
                    <div class="panel-footer">
                        <span class="pull-left">前往 外匯市場資訊</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>即期外匯匯率</h1>
                            <h5>所有最新的外匯匯率</h5>
                        </div>
                    </div>
                </div>
                <a href="/banks/info/rate_spot_exchange/">
                    <div class="panel-footer">
                        <span class="pull-left">前往 即期外匯匯率</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>




    </div>
</div>

{% end %}
