{% extends './../frame.html' %}
{% block content %}
<script src="https://rawgit.com/joewalnes/reconnecting-websocket/master/reconnecting-websocket.min.js"  type="text/javascript"></script>

<script>
function ws_connect(){
    ws = new ReconnectingWebSocket('ws://http://140.113.89.232:1078/api/ws/');
    ws.onopen = function () {
        console.log("get connection");
    };
    ws.onmessage = function (ev) {
        console.log("receiving message");
        var json = JSON.parse(ev.data);
        console.log(json);
    };
        console.log("close");
    };
    ws.onerror = function (ev) {
        console.log("error");
    };
}
$(document).ready(function(){
        ws_connect();
        });
</script>

{% end %}
