{% extends './../frame.html' %}
{% block content %}

<h1>新增商品</h1>
<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <form class="form">
                <input type="text" class="form-control" placeholder="商品名稱">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">新增商品</button>
                </span>
            </form>
        </div>
    </div>
</div>

<script>
require(["jquery"], function($){
});

</script>
{% end %}
