{% extends './../frame.html' %}
{% block content %}


<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1>快速交易</h1>
        <form class="add product form">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="交易金額" name="price">
            </div>
            <button class="btn btn-success">產生 QR code</button>
        </form>
    </div>
</div>

<script>
require(["jquery", "bootbox"], function($, bootbox){
    $(".add.product.form").submit(function(){
        $.post("/api/products/", $(this).serialize(), function(msg){
            if(msg['status'] == 200){
                window.location = "/products/show/"+msg['msg']+"/";
            } else {
                bootbox.alert(msg['msg']);
            }
        }, "json");
        return false;
    });
});

</script>
{% end %}
