{% extends './../frame.html' %}
{% block content %}

<h1>我的商品</h1><br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名稱</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr product-id="{{ item['id'] }}">
                    <tr>{{ item["id"] }}</tr>
                    <tr>{{ item["name"] }}</tr>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</div>

{% end %}
