{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>我的商品</h1><br>
        <div class="input-group margin-bottom">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input class="form-control" name="product_name" type="text"/>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名稱</th>
                    <th>價錢</th>
                </tr>
            </thead>
            <tbody name="tbody">
                {% for x in data %}
                <tr product-id="{{x['id']}}">
                    <td><a href="/products/show/{{x['id']}}">{{x["id"]}}</a></td>
                    <td name="name"><a href="/products/show/{{x['id']}}/">{{x["name"]}}</a></td>
                    <td>{{x["price"]}}</td>
                    <td><a class="btn btn-success" href="/products/show/{{x['id']}}/">前往</a></td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</div>
<script>
require(["jquery"], function($){
    $('[name=product_name]').change(function(){
        var filter = $(this).val();
        $('tr').each(function(idx, val){
            if($(val).find('[name=name]').text().indexOf(filter) >= 0){
                $(val).show();
            }else{
                $(val).hide();
            }
        });
    });
});

</script>

{% end %}
